h1 {
	text-align: center;
}

.myCtrl1 {
	width: 20em;
	margin: 1em auto 5em auto;
}

.pull-right {
	text-align: right;
}

.myCtrl2 {
	width: 20em;
	margin: 1em auto 5em auto;
}

.has-error {
	border-color: red;
	color: red;
}

.myCtrl3 {
	width: 20em;
	margin: 1em auto 5em auto;
}