<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign-up Form with Angular Validation</title>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="myController as myCtrl">
	<h1>Login Form</h1>
	<form name="myForm" ng-submit="myCtrl.submitForm()" novalidate>
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" ng-model="myCtrl.username" name="username" class="form-control" placeholder="Username" required>
			<span class="error-msg" ng-show="myForm.username.$error.required">Required</span>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" ng-model="myCtrl.password" name="password" class="form-control" placeholder="Password" required>
			<span class="error-msg" ng-show="myForm.password.$error.required">Required</span>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary pull-right" ng-disabled="myForm.$invalid">Submit</button>
		</div>
	</form>
<!-- <pre>{{ myForm | json }}</pre>
 -->
</body>
</html>