<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign-up Form with Angular Validation</title>
	<script src="angular.min.js"></script>
	<script src="jquery.min.js"></script>
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<h1>Login Form with Disabled Submit Button</h1>
	<div class="myCtrl1" ng-controller="myController1 as myCtrl1">
		<form name="myCtrl1.myForm1" ng-submit="myCtrl1.submitForm()" novalidate>
			<div class="form-group">
				<input type="text" ng-model="myCtrl1.username1" name="username1" class="form-control" placeholder="Username" required>
				<span class="req-msg" ng-show="myCtrl1.myForm1.username1.$error.required">Required</span>
			</div>
			<div class="form-group">
				<input type="password" ng-model="myCtrl1.password1" name="password1" class="form-control" placeholder="Password" required>
				<span class="req-msg" ng-show="myCtrl1.myForm1.password1.$error.required">Required</span>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary pull-right" ng-disabled="myCtrl1.myForm1.$invalid">Submit</button>
			</div>
		</form>
	</div>
	<hr>
	<h1>Login Form with Highlighted Error Fields</h1>
	<div class="myCtrl2" ng-controller="myController2 as myCtrl2">	
		<form name="myCtrl2.myForm2" ng-submit="myCtrl2.submitForm()" novalidate>
			<div class="form-group">
				<input type="text" ng-class="{'has-error': myCtrl2.myForm2.username2.$invalid}" ng-model="myCtrl2.username2" name="username2" class="form-control" placeholder="Username" required>
				<span class="req-msg has-error" ng-show="myCtrl2.myForm2.username2.$error.required">Required</span>
			</div>
			<div class="form-group">
				<input type="password" ng-class="{'has-error': myCtrl2.myForm2.password2.$invalid}" ng-model="myCtrl2.password2" name="password2" class="form-control" placeholder="Password" required>
				<span class="req-msg has-error" ng-show="myCtrl2.myForm2.password2.$error.required">Required</span>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary pull-right" ng-disabled="myCtrl2.myForm2.$invalid">Submit</button>
			</div>
		</form>
	</div>
	<hr>
	<h1>Login with Hidden Required Message</h1>
	<div class="myCtrl3" ng-controller="myController3 as myCtrl3">
		<form name="myCtrl3.myForm3" ng-submit="myCtrl3.submitForm()" novalidate>
			<div class="form-group">
				<input type="text" ng-class="{'has-error': myCtrl3.myForm3.$submitted && myCtrl3.myForm3.username3.$invalid}" ng-model="myCtrl3.username3" name="username3" class="form-control" placeholder="Username" required>
				<span ng-show="myCtrl3.myForm3.$submitted && myCtrl3.myForm3.username3.$invalid" class="req-msg has-error">Required</span>
			</div>
			<div class="form-group">
				<input type="password" ng-class="{'has-error': myCtrl3.myForm3.$submitted && myCtrl3.myForm3.password3.$invalid}" ng-model="myCtrl3.password3" name="password3" class="form-control" placeholder="Password" required>
				<span class="req-msg has-error" ng-show="myCtrl3.myForm3.$submitted && myCtrl3.myForm3.password3.$invalid">
				Required</span>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary pull-right">Submit</button>
			</div>
		</form>
	</div>

</body>
</html>